@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  background-color: #fff;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.1fr 10fr;
      grid-template-columns: 2.1fr 10fr;
  -ms-grid-rows: 12fr 1fr;
      grid-template-rows: 12fr 1fr;
      grid-template-areas: "slide caja" "repro repro";
}

@media all and (max-width: 767px) {
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "slide" "caja" "repro";
  }
}

main .slide {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: slide;
  background-color: #F7CCAC;
  padding: 1.5rem;
}

@media all and (max-width: 767px) {
  main .slide {
    display: none;
  }
}

main .slide .navegacion ul li {
  list-style-type: none;
  padding: 5px 20px;
  font-size: 18px;
}

main .slide .navegacion ul li a {
  text-decoration: none;
  color: #fff;
}

main .slide .navegacion ul li a:hover {
  color: #632626;
}

main .slide .contLogo {
  padding: 10px 0px;
  margin-bottom: 1rem;
}

main .slide .contLogo img {
  width: 100%;
}

main .slide .contCaraturala .caratulamini {
  position: absolute;
  bottom: 0;
  left: 0;
}

main .caja {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: caja;
  padding: 1rem;
  overflow-y: auto;
  background-color: #D79771;
}

@media all and (max-width: 767px) {
  main .caja {
    padding: 1rem 0.3rem;
  }
}

main .caja .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

@media all and (max-width: 767px) {
  main .caja .header {
    padding: 0rem;
  }
}

main .caja .header .fotoPlaylist img {
  border-radius: 7px;
  width: 90%;
}

main .caja .header .perfilUser .textHeader {
  font-size: 5rem;
}

@media all and (max-width: 767px) {
  main .caja .header .perfilUser .textHeader {
    font-size: 1rem;
  }
}

main .caja .header .perfilUser .contUsuario {
  color: #fff;
}

main .caja .header .perfilUser .contUsuario a {
  color: #fff;
  text-decoration: none;
}

main .caja .header .perfilUser .contUsuario a:hover {
  color: #632626;
}

main .caja .botonPlayRandom i {
  font-size: 4rem;
  color: azure;
  margin-bottom: 1rem;
}

main .caja .botonPlayRandom i:hover {
  color: #632626;
}

main .caja .listadoSongs table {
  width: 100%;
  text-align: justify;
}

main .caja .listadoSongs table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 2px #000 solid;
}

main .caja .listadoSongs table tbody {
  color: #fff;
}

@media all and (max-width: 767px) {
  main .caja .listadoSongs table tbody {
    font-size: 12px;
  }
}

main .caja .listadoSongs table tbody tr:hover {
  color: #632626;
}

main .caja .listadoSongs table tbody tr:hover a {
  color: #632626;
}

main .caja .listadoSongs table tbody a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

main .caja .listadoSongs table th {
  position: -webkit-sticky;
  position: sticky;
}

main .reproductor {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: repro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #F7CCAC;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.1fr 7fr 3fr;
      grid-template-columns: 2.1fr 7fr 3fr;
      grid-template-areas: "info estadoSong fav";
}

@media all and (max-width: 767px) {
  main .reproductor {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "estadoSong";
  }
}

main .reproductor .infoRepro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
}

@media all and (max-width: 767px) {
  main .reproductor .infoRepro {
    display: none;
  }
}

main .reproductor .infoRepro h4 {
  font-size: 13px;
}

main .reproductor .controlesRepro {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: estadoSong;
  padding: 0rem 1rem;
}

@media all and (max-width: 767px) {
  main .reproductor .controlesRepro {
    padding: 1rem;
  }
}

main .reproductor .controlesRepro .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto;
}

@media all and (max-width: 767px) {
  main .reproductor .controlesRepro .botones {
    width: 100%;
  }
}

main .reproductor .controlesRepro .barra {
  cursor: pointer;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(231, 119, 119, 0.63);
}

main .reproductor .controlesRepro .barra .progreso {
  height: 100%;
  border-radius: 5px;
  width: 0%;
  background-color: #fff;
}

main .reproductor .controlesRepro .barra:hover .progreso {
  background-color: #632626;
}

main .reproductor .extrasRepro {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fav;
}

@media all and (max-width: 767px) {
  main .reproductor .extrasRepro {
    display: none;
  }
}

main .reproductor .extrasRepro > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .reproductor .extrasRepro > div button {
  margin-right: 10px;
}

button {
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

.active {
  color: #632626 !important;
}
/*# sourceMappingURL=estilos.css.map */