@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  background-color: #fff;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.1fr 10fr;
      grid-template-columns: 2.1fr 10fr;
  -ms-grid-rows: 12fr 1fr;
      grid-template-rows: 12fr 1fr;
      grid-template-areas: "slide caja" "repro repro";
}

main .slide {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: slide;
  background-color: #000;
  padding: 1.5rem;
}

main .slide ul li {
  list-style-type: none;
  padding: 5px 20px;
  font-size: 18px;
}

main .slide ul li a {
  text-decoration: none;
  color: white;
}

main .slide .contLogo {
  padding: 10px 0px;
  margin-bottom: 1rem;
}

main .slide .contLogo img {
  width: 65%;
}

main .caja {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: caja;
  padding: 1rem;
  overflow-y: auto;
  background: -webkit-gradient(linear, left bottom, left top, from(#ed213a), to(#93291e));
  background: linear-gradient(to top, #ed213a, #93291e);
}

main .caja .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

main .caja .header .fotoPlaylist img {
  width: 90%;
}

main .caja .header .perfilUser h1 {
  font-size: 5rem;
}

main .caja .header .perfilUser .contUsuario .usuario {
  width: 50px;
  border-radius: 50%;
}

main .caja .botonPlayRandom i {
  font-size: 4rem;
  color: azure;
  margin-bottom: 1rem;
}

main .caja .botonPlayRandom i:hover {
  color: #79be79;
}

main .caja .listadoSongs table {
  width: 100%;
  text-align: justify;
}

main .caja .listadoSongs table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 2px #000 solid;
}

main .caja .listadoSongs table tbody {
  color: #fff;
}

main .caja .listadoSongs table tbody a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

main .caja .listadoSongs table th {
  position: -webkit-sticky;
  position: sticky;
}

main .reproductor {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: repro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #1A1A40;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.1fr 7fr 3fr;
      grid-template-columns: 2.1fr 7fr 3fr;
      grid-template-areas: "info estadoSong fav";
}

main .reproductor .infoRepro {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .reproductor .infoRepro .caratulamini {
  position: absolute;
  bottom: 63px;
  left: 0;
}

main .reproductor .infoRepro .espacio {
  text-align: center;
}

main .reproductor .infoRepro .espacio h4 {
  font-size: 13px;
}

main .reproductor .controlesRepro {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: estadoSong;
  padding: 0rem 1rem;
}

main .reproductor .controlesRepro .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto;
}

main .reproductor .controlesRepro .barra {
  cursor: pointer;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(231, 119, 119, 0.63);
}

main .reproductor .controlesRepro .barra .progreso {
  height: 100%;
  border-radius: 5px;
  width: 0%;
  background-color: #fff;
}

main .reproductor .extrasRepro {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fav;
}

main .reproductor .extrasRepro > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .reproductor .extrasRepro > div button {
  margin-right: 10px;
}

button {
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

.favoritoAdd {
  color: green;
}

.holaa {
  display: none;
}
/*# sourceMappingURL=estilos.css.map */