@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    background-color: #fff;
    height: 100vh;
    display: grid;
    grid-template-columns: 2.1fr 10fr;
    grid-template-rows: 12fr 1fr;
    grid-template-areas: 
    "slide caja"
    "repro repro";
    @media all and (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "slide"
        "caja"
        "repro";
    }
    .slide{
        position: relative;
        grid-area: slide;
        background-color: #F7CCAC;
        padding: 1.5rem;
        @media all and (max-width: 767px) {
            display: none;
        }
        .navegacion{
            ul li{
                list-style-type: none;
                padding: 5px 20px;
                font-size: 18px;
                a{
                    text-decoration: none;
                    color: #fff;
                    &:hover{
                        color: #632626;
                    }
                }
            }
        }
        .contLogo{
            padding: 10px 0px ;
            margin-bottom: 1rem;
            img{
                width: 100%;
            }
        }
        .contCaraturala{
            .caratulamini{
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
    .caja{
        grid-area: caja;
        padding: 1rem;
        overflow-y: auto;
        background-color: #D79771; 
        @media all and (max-width: 767px) {
            padding: 1rem 0.3rem;
        }
        .header{
            display: flex;
            padding: 2rem;
            @media all and (max-width: 767px) {
                padding: 0rem;
            }
            .fotoPlaylist{
                img{
                    border-radius: 7px;
                    width: 90%;
                }
            }
            .perfilUser{
                .textHeader{
                    font-size: 5rem;
                    @media all and (max-width: 767px) {
                        font-size: 1rem;
                    }
                }
                .contUsuario{
                    color: #fff;
                    a{
                        color: #fff;
                        text-decoration: none;
                        &:hover{
                            color: #632626;
                        }
                    }
                }
            }
        }

        .botonPlayRandom{
            i{
                font-size: 4rem;
                color: azure;
                margin-bottom: 1rem;
                &:hover{
                    color: #632626;
                }
            }
        }

        .listadoSongs{
            
            table{
                width: 100%;
                text-align: justify;
                thead{
                    position: sticky;
                    top: 0;
                    border-bottom: 2px #000 solid;
                }
                tbody{
                    color: #fff;
                    @media all and (max-width: 767px) {
                        font-size: 12px;
                    }
                    tr:hover{
                        color: #632626;
                        a{
                            color: #632626;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 400;
                    }
                }
                th{
                    position: sticky;
                }
            }
        } 
    }
    .reproductor{
        grid-area: repro;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #F7CCAC;
        display: grid;
        grid-template-columns: 2.1fr 7fr 3fr;
        grid-template-areas: 
        "info estadoSong fav";

        @media all and (max-width: 767px) {
            grid-template-columns:1fr ;
            grid-template-areas:
            "estadoSong";
        }

        .infoRepro{
            grid-area: info;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            text-align: center;
            @media all and (max-width: 767px) {
                display: none;
            }

            h4{
                font-size: 13px;
            }
        }

        .controlesRepro{
            grid-area: estadoSong;
            padding: 0rem 1rem;
            @media all and (max-width: 767px) {
                padding: 1rem;
            }
            .botones{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 50%;
                margin: 0 auto;
                @media all and (max-width: 767px) {
                    width: 100%;
                }
            }
            .barra{
                cursor: pointer;
                height: 10px;
                border-radius: 5px;
                overflow: hidden;
                background-color: rgba(231, 119, 119, 0.63);
                .progreso{
                    height: 100%;
                    border-radius: 5px;
                    width: 0%;
                    background-color: #fff;
                }
                &:hover .progreso{
                    background-color: #632626;
                }
            }

        }

        .extrasRepro{
            grid-area: fav;
            @media all and (max-width: 767px) {
                display: none;
            }
            & > div{
                display: flex;
                justify-content: center;
                button{
                    margin-right: 10px;
                }
            }
        }
    }
}

button{
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
}

.active{
    color : #632626!important; 
}