@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main{
    background-color: #fff;
    height: 100vh;
    display: grid;
    grid-template-columns: 2.1fr 10fr;
    grid-template-rows: 12fr 1fr;
    grid-template-areas: 
    "slide caja"
    "repro repro";
    .slide{
        grid-area: slide;
        background-color: #000;
        padding: 1.5rem;
        ul li{
            list-style-type: none;
            padding: 5px 20px;
            font-size: 18px;
            a{
                text-decoration: none;
                color: white;
            }
        }
        .contLogo{
            padding: 10px 0px ;
            margin-bottom: 1rem;
            img{
                width: 65%;
            }
        }
        .navegacion{
            // ul li{
            //     list-style-type: none;
            //     padding: 5px 20px;
            //     font-size: 18px;
            //     a{
            //         text-decoration: none;
            //         color: white;
            //     }
            // }
        }
    }
    .caja{
        grid-area: caja;
        // background-color: aquamarine;
        padding: 1rem;
        // height: calc(100vh - 71.78px);
        overflow-y: auto;
        background: linear-gradient(to top, #ed213a, #93291e); 
        .header{
            display: flex;
            padding: 2rem;
            // background-color: #D82148;
            .fotoPlaylist{
                img{
                    width: 90%;
                }
            }
            .perfilUser{
                h1{
                    font-size: 5rem;
                }
                .contUsuario{
                    .usuario{
                        width: 50px;
                        border-radius: 50%;
                    }
                }
            }
            .contModo{
                // .btns{
                //     border: none;
                //     background-color: transparent;
                //     font-size: 25px;
                //     cursor: pointer;
                // }
            }
        }

        .buscador{
            .buscadorBox{

            }
        }


        .listadoSongs{
            .contSongs{

            }
            table{
                width: 100%;
                text-align: justify;
                thead{
                    position: sticky;
                    top: 0;
                    border-bottom: 2px #000 solid;
                }
                tbody{
                    color: #fff;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 400;
                    }
                }
                th{
                    position: sticky;
                }
            }
        }


        
        
    }
    .reproductor{
        grid-area: repro;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #1A1A40;



        display: grid;
        grid-template-columns: 2.1fr 7fr 3fr;
        grid-template-areas: 
        "info estadoSong fav";

        .infoRepro{
            grid-area: info;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .caratulamini{
                position: absolute;
                bottom: 63px;
                left: 0;
            }
            .espacio{
                text-align: center;
                h4{
                    font-size: 13px;
                }
            }
        }

        .controlesRepro{
            grid-area: estadoSong;
            padding: 0rem 1rem;
            .botones{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 50%;
                margin: 0 auto;
            }
            .barra{
                cursor: pointer;
                height: 10px;
                border-radius: 5px;
                overflow: hidden;
                background-color: rgba(231, 119, 119, 0.63);
                .progreso{
                    height: 100%;
                    border-radius: 5px;
                    width: 0%;
                    background-color: #fff;
                }
            }

        }

        .extrasRepro{
            grid-area: fav;
            & > div{
                display: flex;
                justify-content: center;
                button{
                    margin-right: 10px;
                }
            }
        }
    }
}

.btns{
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
}


// transform: rotate(90deg);  PARA ROTAR LA BARRA DE VOLUMEN A VERTICAL